@media (max-width: 425px) {
  .main-menu .nav-item a {
    font-size: 18px;
  }

  .hero-content h1 {
    font-size: 2.5rem;
    font-weight: 900;
  }

  .sub-header span {
    font-size: 1.5rem;
  }

  section {
    height: initial;
  }

  section.hero-bg {
    height: 100vh;
  }

  section.about-me,
  section.portfolio-section {
    padding-top: 80px;
  }

  .about-me-carousel {
    height: 675px;
  }
}