:root {
  --bg: #fff;
  --bg-panel: #fff;
  --color-headings: #161c2d;
  --color-text-opacity: rgba(22, 28, 45, 0.7);
  --color-text: #161c2d;
  --color-text-base: #161c2d;
  --border: #383f53;
}

[data-theme="light"] .hero-content h1 {
  background-image: url("../assets/images/aldebaran-s-qtRF_RxCAo0-unsplash.jpg");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

[data-theme="light"] .code-icon {
  color: white;
}

[data-theme="dark"] {
  --bg: #171a23;
  --bg-panel: #f1f1f1;
  --color-headings: #fff;
  --color-text-opacity: rgba(255, 255, 255, 0.7);
  --color-text: #fff;
  --color-text-base: #161c2d;
  --border: #ced4da;
}

[data-theme="dark"] .hero-content h1,
[data-theme="dark"] .code-icon {
  color: limegreen;
}